In [1]:
import pandas as pd
import numpy as np

In [9]:
ser1 = pd.Series([1,2,3,'string',4.3,-34],index=['a','b','c','d','e','f'])
ser1

a         1
b         2
c         3
d    string
e       4.3
f       -34
dtype: object

In [3]:
type(ser1)

pandas.core.series.Series

In [10]:
ser1[0]
ser1['a']

1

In [11]:
# series through dictionary
ser2 = pd.Series({'london':1,'delhi':2,'new york':3,'mumbai':4})
ser2

london      1
delhi       2
new york    3
mumbai      4
dtype: int64

In [12]:
ser2['delhi']

2

In [13]:
ser2[ser2 > 2]

new york    3
mumbai      4
dtype: int64